<div class="jumbotron mt-4">
    <h1 class="display-4">App Notes NodeJS</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, maxime deserunt a eveniet eos fugiat repellat laboriosam hic earum consequuntur culpa, dolorum nulla dicta? Obcaecati ratione cum voluptatem non odio!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum commodi tempore minus dolorum. Inventore ratione deleniti rem architecto commodi veritatis nam, alias itaque. Esse, quos expedita? Accusantium ut nesciunt quo?</p>
    <a href="" class="btn btn-primary">Website</a>
</div>